body{
  background-color: black;
  background: url('https://wallpapercave.com/wp/wp2065387.png') no-repeat center center fixed;
  background-size: cover;
}

.user-display {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
